<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="CleanseConfiguration" type="ADCleanse.XmlSerializerSectionHandler,ADCleanse" />
        <section name="QueryConfiguration" type="ADCleanse.XmlSerializerSectionHandler,ADCleanse" />
        <section name="PrepareBetaConfiguration" type="ADCleanse.XmlSerializerSectionHandler,ADCleanse" />
        <section name="PrepareChinaConfiguration" type="ADCleanse.XmlSerializerSectionHandler,ADCleanse" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <CleanseConfiguration type="ADCleanse.CleanseConfiguration,ADCleanse">
        <!-- leave Username blank to use integrated authentication -->
        <LdapRoot>LDAP://domaincontrolleripddress</LdapRoot>
        <Username>username</Username>
        <Password>password</Password>
        <Filter>(&amp;(objectCategory=person)(objectClass=user)(sAMAccountName=username))</Filter>
        <DryRun>false</DryRun>
        <PageSize>5</PageSize>
        <Properties>
            <Property>
                <Name>c</Name>
                <Matches>
                    <Match><Pattern>\w{2}</Pattern><Function>SetCountryNameFromCode</Function></Match>
                    <Match><Pattern>^\s*$</Pattern><Function>SetCountryPropertiesFromOu</Function></Match>
                </Matches>
            </Property>
            <Property>
                <Name>co</Name>
                <Matches>
                    <Match><Pattern>England</Pattern><Value>United Kingdom</Value></Match>
                    <Match><Pattern>GB</Pattern><Value>United Kingdom</Value></Match>
                    <Match><Pattern>UK</Pattern><Value>United Kingdom</Value></Match>
                    <Match><Pattern>United Kingdom </Pattern><Value>United Kingdom</Value></Match>
                    <Match><Pattern>Hong Kong</Pattern><Value>Hong Kong S.A.R.</Value></Match>
                    <Match><Pattern>Hong Kong SAR</Pattern><Value>Hong Kong S.A.R.</Value></Match>
                    <Match><Pattern>Itlay</Pattern><Value>Italy</Value></Match>
                    <Match><Pattern>MEXICO</Pattern><Value>Mexico</Value></Match>
                    <Match><Pattern>South Afirca</Pattern><Value>South Africa</Value></Match>
                    <Match><Pattern>United Arab Emarites</Pattern><Value>United Arab Emirates</Value></Match>
                    <Match><Pattern>US</Pattern><Value>United States</Value></Match>
                    <Match><Pattern>USA</Pattern><Value>United States</Value></Match>
                    <Match><Pattern>P. R. China</Pattern><Value>China</Value></Match>
                </Matches>
            </Property>
        </Properties>
    </CleanseConfiguration>
    <QueryConfiguration type="ADCleanse.QueryConfiguration,ADCleanse">
        <!-- leave Username blank to use integrated authentication -->
        <LdapRoot>LDAP://domaincontrolleripddress</LdapRoot>
        <Username>username</Username>
        <Password>password</Password>
        <Filter>(&amp;(objectCategory=person)(objectClass=user))</Filter>
        <OutputFilePath>D:\Temp\queryresults.txt</OutputFilePath>
        <AutoOpen>false</AutoOpen>
        <Properties>
            <Property>sAMAccountName</Property>
            <Property>distinguishedName</Property>
            <Property>c</Property>
            <Property>co</Property>
            <Property>countryCode</Property>
        </Properties>
    </QueryConfiguration>
    <PrepareBetaConfiguration type="ADCleanse.PrepareBetaConfiguration,ADCleanse">
        <!-- leave Username blank to use integrated authentication -->
        <LdapRoot>LDAP://domaincontrolleripaddress</LdapRoot>
        <Username>username</Username>
        <Password>password</Password>
        <BetaGroupName>WW myCloud Beta Group</BetaGroupName>
        <InputFilePath>D:\Temp\betausers.txt</InputFilePath>
        <OutputFilePath>D:\Temp\betausersout.csv</OutputFilePath>
    </PrepareBetaConfiguration>
    <PrepareChinaConfiguration type="ADCleanse.PrepareChinaConfiguration,ADCleanse">
        <!-- leave Username blank to use integrated authentication -->
        <LdapRoot>LDAP://domaincontrolleripaddress</LdapRoot>
        <Username>username</Username>
        <Password>password</Password>
        <BetaGroupName>WW myCloud Beta Group</BetaGroupName>
        <OutputFilePath>D:\Temp\betausersout.csv</OutputFilePath>
        <OUs>
            <OU>CNBJS</OU>
            <OU>CNBJSDC</OU>
            <OU>CNBJSHD</OU>
            <OU>CNCAN</OU>
            <OU>Users,CN=CNGEDU</OU>
            <OU>CNSHA</OU>
            <OU>CNWSE</OU>
        </OUs>
    </PrepareChinaConfiguration>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date %-5level %logger - %message%newline"/>
            </layout>
        </appender>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value=".\ADCleanse.log"/>
            <appendToFile value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="FileAppender"/>
        </root>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>